@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  text-align: center;
  background-color: #31D2F6;
  color: white;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

/* Header */
header {
  font-size: 1.5rem;
}

/* Form */
form {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
}

button {
  background-color: #7D2AD4;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}

input {
  outline: none;
  border: none;
  padding: 5px;
  max-width: 270px;
  width: 70%;
}

/* Todo List */
.todos-list {
  padding: 20px;
  margin: auto;
}

.todo {
  /*background-color: #EB553A;*/
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  animation: enter 0.3s;
  position: relative;
}

.red {
  background-color: #EB553A;
}

.purple {
  background-color: #7D2AD4;
}

/* Enter todo animation */
@keyframes enter {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.red span {
  background-color: #8864af;
}

.purple span {
  background-color: #EB553A; 
}

span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: background-color 0.1s;
}

span:hover {
  filter: brightness(200%);
}

.todo p:hover,
.did {
  text-decoration: line-through;
}

div.no-todos p {
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px;
}